*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}
img{
    width: 100%;
    display: block;
}
:root{
    --color-primary: #511f52;
    --color-primary-variant:#693b69;
    --color-white: #ffffff;
    --color-light: rgba(255, 255, 255, 0.5);
    --color-black: #000000;
    --color-bg1: #a987ab;
    --color-bg2: #ecd4ea;   
    --transition: .4s ease;     
}
.dark-mood{
    --color-white: #ffffff;
    --color-bg1:#141312;
    --color-bg2: #9b7d9f;
    
}
body{
    width: 100%;
    background-color: var(--color-bg2);
    color: var(--color-primary);
}

h1{
    font-size: 60px;
    line-height: 120%;
    font-weight: 600;
}
h2{
    font-size: 44px;
    line-height: 120%;
    font-weight: 600;
}
h3{
    font-size: 30px;
    line-height: 140%;
    font-weight: 600;
}
p{
    font-size: 17px;
    line-height: 120%;

}
.btn{
    padding: 1rem 2.4rem;
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .4px;
    border-radius: 6px;
    width: fit-content;
    cursor: pointer;
    transition: var(--transition);
}
.btn:hover{
    background: var(--color-white);
    color: var(--color-primary);
}
section{
    padding-top: 6rem ;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1620px;
}


header{  
  height: 100vh;
  width: 100%;
} 
/* ...................Start NavBar.................... */

nav{
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   display: grid;
   place-items: center;
   height: 5rem;
}
.navScroll{
    z-index: 10;
    background: var(--color-bg2);
    box-shadow: 0  0 .2rem 0  rgba(0, 0, 0, 0.4) ;
}
.nav-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.nav-links li a{
    color: var(--color-white);
    font-size: 17px;
    font-weight: 400;
    transition: var(--transition);
}
.nav-links li a:hover{
    color: var(--color-primary);
}
.nav-links li i{
    font-size: 1.1rem;
    transition: .4s ease;
}
.nav-links li i:hover{
    transform: rotate(360deg);
}
.nav-links li .sun{
    display: none;
}
.logo h3{
    color: var(--color-primary);
}
.logo h3 span{
    color: var(--color-white);
}
.phone-menu{
    display: none;
}
/* ...................End NavBar.................... */


/* ...................Start Hero Section.................... */
#Home{
    height: 100%;
    width: 100%; 
    padding: 0;
    background: var(--color-bg1);
}
.home-container{
    display: grid;
    grid-template-columns: 56% 40%;
    gap: 4%;
    height: 100%;
    align-items: center;
}
.home-container p{
    font-size: 17px;
    color: var(--color-white);
    line-height: 190%;
    font-weight: 400;  
    margin-top:1rem;
    margin-bottom: 2rem;
}
h1{
    color: var(--color-primary);
}
.home-right{
    width: 100%;
}
.home-right img{
    width: 70%;
    background: aliceblue;
    border-radius: 50%;
}

/*Project*/
#Projects{
    padding-bottom:4rem ;
    background: var(--color-bg2);
}
.project-container h2{
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 4rem;
}
.projects{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 30px;
}
.project{
    position: relative;
    width: fit-content;
    overflow: hidden;
    border-radius: .2rem;
}
.shadow{
    background:linear-gradient(transparent,var(--color-primary-variant));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}
.shadow h3{
    color: var(--color-white);
    padding: .2rem;
}
.project:hover .shadow{
    top: 0;
}
.education{
    display:flex;
    justify-content: center;
    flex-direction: column;
    background: var(--color-bg1);
    min-height: auto;
    padding: 30px;
}
.education .education-row{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education-row .education-column{
    flex:1 1 40rem
}
.education .heading{
    font-size: 40px;
    line-height: 160%;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
    padding-bottom: 2rem;
}
.education-container .education-column{
    padding: 30px;
    flex: 1 1 40rem;
}
.education-column .title{
    font-size: 30px;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .2rem solid var(--color-white);
}
.education-box .education-content{
    position: relative;
    padding-left: 1rem;
}
.education-content .content{
    position: relative;
    padding: 1rem;
    border: .2rem solid var(--color-black);
    border-radius: .6rem;
    margin-bottom: 2rem;
}
.education-column h2{
    color: var(--color-bg2);
    font-size: 20px;
    margin-left: 1rem;
    padding-left: .1rem;
}
.education-column p{
    font-size: 20px;
    padding-left: .1rem;
    padding-bottom: .1rem;
    margin-left: 1rem;
}
.education-content .content .percentage{
    color: var(--color-white);
    font-weight: 400;
    font-size: 25px;
    padding-top: .1rem;
    margin-left: 1rem;
}
.education-content .content .year{
    color: var(--color-white);
    font-weight: 600;
    font-size: 20px;
}
.skills{
    min-height: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    background: var(--color-bg2);
}
.skills .heading{
    text-align: center;
    font-size: 40px;
    line-height: 160%;
    font-weight: 700;
    color: var(--color-primary);
}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-row .skills-column{
    flex:1 1 40rem;
}
.skills-box{
    padding: 0 100px;
}
.skills-box .skills-content{
    position: relative;
    padding: 0 100px;
}
.skills-content .progress{
    padding: .1rem 0;
}
.skills-content .progress h2{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h2 span{
    color: var(--color-primary);
}
.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--color-primary);
    padding: .5rem;
    margin: 1rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--color-black);
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width:60% ;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width:80% ;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width:70% ;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width:50% ;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width:50% ;
}

#Contact{
    background: var(--color-black);
    padding: 70px 0;
    justify-content: center;
    align-items: center;
}
.contact-container{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-container h1{
    color: #ffffff;
    margin-bottom: 2rem;
}
.contact-social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: var(--color-white);
    margin-top: 20px;
}
.contact-social li a{
    color: var(--color-primary-variant);
    font-size: 25px;
    cursor:pointer;
    transition: var(--transition);
}
.contact-social li a:hover{
    color:var(--color-bg1) ;
}
.contact-social a i{
    font-size: 40px;
}

.footer{
    /*display: flex;
    flex-wrap: wrap;
     justify-content: center;*/
    background: var(--color-bg2);
    align-items: center;
    padding: 2rem 9%;
}
.footer-text{
    font-size: 14px;
    text-align: center;
}
@media(max-width:991px){
    html,body{
        width: fit-content;
        padding: 0;
        margin: 0;
    }
    .nav-container{
        position: relative;
    }
    .nav-links{
        flex-direction: column;
        gap: 0;
        top: 5rem;
        right: 0;
        position: fixed;
        width: 18rem;
        display: none;
        perspective: 400px;
    }
    .nav-links li{
        width: 100%;
        height: 100%;
        opacity: 0;
        animation: NavAni forwards 300ms ease;
        transform-origin: top;
    }
    .nav-links li:nth-child(2){
        animation-delay: 100ms;
    }
    .nav-links li:nth-child(3){
        animation-delay: 200ms;
    }
    .nav-links li:nth-child(4){
        animation-delay: 300ms;
    }
    .nav-links li:nth-child(5){
        animation-delay: 400ms;
    }
    .nav-links li:nth-child(6){
        animation-delay: 500ms;
    }
    @keyframes NavAni {
        0%{
            transform: rotateX(45deg);
        }
        100%{
            transform: rotateX(0deg);
            opacity: 1;
        }
        
    }

    .nav-links li i,
    .nav-links li a{
        background: var(--color-primary-variant);
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 2rem 0;
        box-shadow: 0 .5rem 1rem rgba(97,97, 97, 0.4);
    }
    .nav-links li a:hover{
        background-color: var(--color-bg2);
        color: var(--color-primary);
    }
    .phone-menu{
        display: block;
        background: transparent;
        font-size: 1.5rem;
        border: none;
        color: var(--color-white);
    }
    .close{
        display: none;
    }
    header{
        height: 90vh;
    }
    .home-container{
        grid-template-columns: 1fr;
        gap: 2%;
    }
    .home-right{
        grid-row: 1;
        margin-top: 5rem;
        height: 42vh;
    }
    .home-right img{
        background: aliceblue;
        width: 60%;
        margin: 0 auto;
    }
    .home-left{
        text-align: center;
    }
    .project-container{
        grid-template-columns: (2,1fr);
    }
    .skills-box{
        padding: .2rem;
    }
    .skills-box .skills-content{
        padding: 0 5rem ;
    }
}
@media (max-width:600px) {
    html,body{
        width: fit-content;
        height: fit-content;
        padding: 0%;
        margin: 0;
    }
    
    h1{
        font-size: 46px;
    }
    h2{
        font-size: 34px;
    }
    h3{
        font-size: 28px;
    }
    p{
        font-size: 16px;
        
    }
    header{
        height:100vh ;
    }
   
    .home-container{
        width: 70%;
        gap: 0;
    }
    .home-container p{
        line-height: 140%;
        margin-bottom: 1rem;
        margin-top: .6rem;
    }
    .home-right{
        height: 35vh;
    }
    .home-right img{
        width: 70%;
    }
    
    .btn{
        padding: .8rem 2.2rem;
        font-size: 14px;
    }
    
    #Projects{
        padding-top: 2rem;
        padding-bottom: 2rem;
        justify-content: center;
        align-items: center;
    }
    .project-container h2{
        margin-bottom: 2rem;
    }
    .projects{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .education{
        padding: 5rem 4% 2rem 5%;
    }
    .skills-box{
        padding: .5rem;
    }
    .skills-box .skills-content{
        padding: 2rem;
    }
}
@media (max-width:320px) {
   header{
    height: 70vh;
   }
  
.home-right{
    height: 45vh;
}


    


